<script lang="ts" setup>
const props = defineProps({
  
})
const emit = defineEmits([])

const message = '<%= data.name %>'

defineExpose({
  
})
</script>

<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ message }}</h1>
  </div>
</template>

<style scoped lang="less">
.<%= data.lowerName %> {

}
</style>